tr[id="product_#{product.id}"]
  td
    .text-center= product.id
  td
    .text-center= product.name
  td
    .text-center= product.model
  td
    .text-center= l product.released_date, format: :short
  td
    .text-center.img_blowup= link_to image_tag(product.file_url(:small).to_s), product.file_url.to_s, title: product.name, data: { lightbox: "roadtrip" }
  td
    .text-center
      = link_to t('products.edit'), edit_product_path(product), class: 'btn btn-mini', remote: @remote
      '
      = link_to t('products.destroy'), product_path(product), method: :delete, remote: @remote, data: { confirm: t('products.confirm') }, class: 'btn btn-mini btn-danger'