tr *{ class: "form-horizontal", id: @product.new_record? ? "product_new" : "product_#{@product.id}" }
  td[colspan=6]
    .row
      = form_for @product, multipart: true, remote: @remote do |f|
        .span1
          .text-center= @product.new_record? ? "new" : @product.id
        = f.text_field :name, { style: "width: 19%;" }
        '
        = f.text_field :model, { style: "width: 16%;" }
        '
        = f.date_field :released_date, { style: "width: 19%;" }
        '
        = f.file_field :file, { style: "width: 18%;" }
        '
        span.text-center
          = f.button t(@product.new_record? ? '.create' : '.update'), class: 'btn btn-mini ' + (@product.new_record? ? 'btn-primary' : 'btn-success')
          '
          = link_to t('.cancel'), cancel_product_path(id: @product.new_record? ? 0 : @product.id), remote: @remote, class: 'btn btn-mini btn-warning'