.form-horizontal#form_entry[class=action_name]= form_for @product, remote: @remote do |f|
  .input-prepend.input-append
    .add-on.span= f.label :name
    = f.text_field :name, id: "appendedPrependedInput", class: "span4"
  .input-prepend.input-append
    .span
    .add-on.span1= f.label :released_date
    = f.date_field :released_date, id: "appendedPrependedInput", class: "span3"
  .input-prepend.input-append
    .add-on.span= f.label :model
    = f.text_field :model, id: "appendedPrependedInput", class: "span4"
  .input-prepend.input-append
    .span
    = f.button t('.create'), :class => 'btn btn-success'
    '
    = link_to t('.cancel'), products_path, :class => 'btn btn-warning'