.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar data-toggle="collapse" data-target=".nav-collapse"
        span.icon-bar
        span.icon-bar
      a.brand[href=products_path]= t 'title'
      .nav-collapse
        ul.nav
          li= link_to "Home", products_path
          li= link_to "About"