- model = Product
.container
  .row
    table.table.table-striped.table-condensed
      thead
        tr
          th.span1
            .text-center= model.human_attribute_name(:id)
          th
            .text-center= model.human_attribute_name(:name)
          th
            .text-center= model.human_attribute_name(:model)
          th
            .text-center= model.human_attribute_name(:released_date)
          th
            .text-center= model.human_attribute_name(:image)
          th.span2
            .text-center=t '.actions'
      tbody
        - @products.each do |product|
          - if action_name == 'edit' && product.id == @product.id
            = render 'form_row'
          - else
            = render 'data_row', product: product
        tr#form_entry
        - if action_name == 'new' && defined? @product
          = render 'form_row'
  .row#new_button
    .span2= link_to t('.new'), new_product_path, remote: @remote, class: 'btn btn-primary'