doctype html

head
  meta charset="utf-8"
  meta name="viewport" content="width=device-width,initial-scale=1.0"
  title= t 'title'
  = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tag

body
  = render 'menu'
  = yield
  = render 'footer'

= javascript_include_tag 'application', 'data-turbolinks-track' => true

javascript:
